:root{
  --white: 0, 0%, 100%;
  --light-pink: 275, 100%, 97%;
  --grayish-purple: 292, 16%, 49%;
  --dark-purple: 292, 42%, 14%;
  --white-hsl: hsl(var(--white));
  --light-pink-hsl: hsl(var(--light-pink));
  --grayish-purple-hsl: hsl(var(--grayish-purple));
  --dark-purple-hsl: hsl(var(--dark-purple));
  --Work-sans: "Work sans", sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--Work-sans);
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-purple-hsl);
}

html, body{
  margin: 0;
  padding: 0;
}

.app{
  min-height: 100vh;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-size: auto 40%;
  background-position: 0% -4%;
  background-repeat: no-repeat;
  background-color: var(--light-pink-hsl);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 23.4375rem) {
  .app{
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-size: auto 29%;
    background-position: 0% 0%;
  }
}

main{
  width: 41%;
  background-color: var(--white-hsl);
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 1px 6px 20px var(--grayish-purple-hsl);
}

@media (max-width: 23.4375rem) {
  main{
    width: 87%;
    padding: 1.5rem;
  }
}

main h1{
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

@media (max-width: 23.4375rem) {
  main h1{
    font-size: 2rem;
  }
}

main h1 img{
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1.5rem;
}

@media (max-width: 23.4375rem) {
  main h1 img{
    width: 1.6rem;
    height: 1.6rem;
  }
}

main div{
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

section{
  display: grid;
  row-gap: 1.2rem;
}

section header button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
}

@media (max-width: 23.4375rem) {
  section header button{
    gap: 2rem;
    font-size: 1rem;
  }
}

section header button:hover{
  color: var(--grayish-purple-hsl);
  cursor: pointer;
}

section p{
  display: none;
  color: var(--grayish-purple-hsl);
  font-weight: 400;
  line-height: 1.3rem;
}

@media (max-width: 23.4375rem) {
  section p{
    font-size: 0.875rem;
  }
}